@import "reset";
@import "bootstrap-4.0.0/scss/bootstrap";
@import "jquery.datepicker";
@import 'hamburger';


$blue-light: #09009A;
$blue-dark: #1B263B;
$ubuntu: 'Ubuntu', sans-serif;
$montserrat: 'Montserrat', sans-serif;

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-small-desktop {
    @media (max-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

.rb{
    border: 1px solid red;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background: #E8F1F2;
}
@media screen and (min-width: 640px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 640px) / 680));
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}
body{
    max-width: 2000px;
    margin: 0 auto;
}
header{
    background-color: #fff;
    padding: 14px 0;
    &.sticky{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
    }
}
.main-menu{
    ul{
        display: flex;
        margin-bottom: 0;
        list-style: none;
        padding-left: 20px;
        li{
            margin: 0 0.5rem;
            background-color: #fff;
            transition: background-color .5s;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            a{
                font-family: $montserrat;
                color: #000;
                padding: 4px 7px;
            }
            &.current-page, &:hover{
                background-color: $blue-light;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}
.top-articles{
    background: $blue-dark;
    padding: 40px 20px;
}
.hero-article{
    border-radius: 5px;
    overflow: hidden;
    .article-image{
        height: 390px;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        @include for-small-desktop{
            height: 300px;
        }
        .overlay{
            position: absolute;
            height: 50%;
            width: 100%;
            bottom: 0;
            left: 0;
            background-size: cover;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 64%, rgba(0,0,0,0.65) 100%);
        }
        .article-date{
            position: absolute;
            right: 15px;
            bottom: 10px;
            color: #fff;
            font-family: $ubuntu;
            font-weight: bold;
            font-size: 18px;
        }
    }
    .article-info{
        padding: 20px;
        background: #fff;
        height: 176px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .article-category{
            display: flex;
            flex-wrap: wrap;
            .category-tag{
                height: 20px;
                padding: 2px 5px;
                font-size: 13px;
                font-family: $ubuntu;
                color: #fff;
                line-height: 15px;
                font-weight: bold;
                border-radius: 0 0 5px 0;
                &:hover{
                    text-decoration: none;
                }
                &.blue-tag{
                    background: $blue-dark;
                }
                &.green-tag{
                    background: #4FA84D;
                }
            }
        }
        .article-title{
            margin-top: 30px;
            font-size: 18px;
            font-family: $ubuntu;
            font-weight: bold;
        }
    }
}
.article-link{
    border-radius: 0 0 5px 0;
    height: 20px;
    background: #778DA9;
    font-size: 13px;
    font-weight: bold;
    font-family: $ubuntu;
    color: #fff;
    transition: background .5s;
    padding: 2px 5px;
    display: inline-flex;
    align-items: center;
    &:hover{
        background: $blue-light;
        text-decoration: none;
        color: #fff;
    }
}
.category-section{
    margin-top: 70px;
    padding: 0 25px;
    overflow-x: hidden;
    .section-title{
        border-bottom: 4px solid #778DA9;
        margin-bottom: 30px;
        a, span{
            height: 50px;
            padding-right: 30px;
            font-family: $montserrat;
            font-weight: bold;
            color: #fff;
            font-size: 36px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            position: relative;
            top: 4px;
            &:before{
                content: "";
                position: absolute;
                right: 100%;
                top: 0;
                height: 100%;
                width: 200%;
                background-color: inherit;
            }
        }
    }
}
.article-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .article-preview-item{
        width: calc(50% - 15px);
        margin-bottom: 30px;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        height: 190px;
        display: flex;
        .article-thumb{
            width: 195px;
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
            @include for-small-desktop{
                width: 160px;
            }
            a{
                display: block;
                height: 100%;
            }
        }
        .article-info{
            width: calc(100% - 195px);
            padding: 13px 18px;
            @include for-small-desktop{
                width: calc(100% - 160px);
            }
            .article-title{
                font-family: $ubuntu;
                font-style: normal;
                font-weight: bold;
                font-size: 17px;
                line-height: 20px;
                color: #000;
                overflow: hidden;
                max-width: 100%;
                text-overflow:ellipsis;
                margin-bottom: 8px;
                a{
                    color: #000;
                }
            }
            .article-desc{
                font-family: $ubuntu;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                max-height: 62px;
                overflow: hidden;
                max-width: 100%;
                text-overflow:ellipsis;
            }
        }
    }
    &.popular{
        .article-preview-item{
            width: calc(33% - 15px);
            background-color: #1B263B;
            .article-info{
                .article-title{
                    a{
                        color: #fff;
                    }
                }
                .article-desc{
                    color: #fff;
                }
            }
        }
    }
}
.popular-articles{
    .popular-title{
        font-family: $montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
    }
}
footer{
    background: #FFFFFF;
    border-radius: 30px 30px 0 0;
    padding: 30px 0;
    margin-top: 70px;
    .footer-title{
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        padding-bottom: 10px;
        border-bottom: 4px solid #778DA9;
        margin-bottom: 30px;
    }
    .category-list{
        margin-left: 0;
        margin-bottom: 123px;
        padding: 0;
        li{
            display: flex;
            justify-content: space-between;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 14px;
            a{
                color: $blue-dark
            }
            span{
                color: $blue-light;
            }
        }
    }
    .facebook-link{
        img{
            width: 42px;
            height: 42px;
        }
    }
}
.copyright{
    margin-top: 50px;
    p{
        margin-bottom: 0;
        font-size: 18px;
        a{
            color: $blue-light;
            font-weight: bold;
        }
    }
}
.bottom-menu{
    width: 100%;
    margin-top: 40px;
    ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        li{
            list-style: none;
            flex: 1;
            line-height: 1;
            display: flex;
            justify-content: center;
            border-left: 1px solid #7E7E7E;
            &:first-child{
                border-left: none;
            }
            a{
                font-family: $montserrat;
                font-size: 18px;
                color: #7E7E7E;
                line-height: 1;
            }
        }
    }
}
#posts-calendar{
    display: flex;
    justify-content: center;
    .ui-datepicker{
        background-color: #fff;
        border: 1px solid #7E7E7E;
        display: flex!important;
        flex-direction: column-reverse;
        padding: 0;
        height: 295px;
        position: relative;
        width: 100%;
        table{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
    }
    .ui-datepicker-calendar{
        thead{
            border-bottom: 1px solid #7E7E7E;
            margin-bottom: 10px;
            tr{
                th{
                    padding-top: 8px;
                    padding-bottom: 8px;
                    span{
                        font-family: $montserrat;
                        font-weight: 700;
                        font-size: 18px;
                    }
                }
            }
        }
        tbody{
            tr{
                a{
                    display: flex;
                    justify-content: center;
                    font-family: $montserrat;
                    font-size: 18px;
                    color: #09009A;
                    padding: 0;
                }
                td{
                    &.ui-datepicker-unselectable{
                        span{
                            display: flex;
                            justify-content: center;
                            font-family: $montserrat;
                            font-size: 18px;
                            color: #B5B5B5;
                            padding: 0;
                        }
                    }
                }
                &:first-child{
                    td{
                        padding-top: 10px;
                    }
                }
            }
        }
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default{
        background-color: #fff;
        border: none;
    }
    .ui-widget-header{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        background-color: $blue-light;
        border: none;
        padding: 12px 0;
    }
    .ui-datepicker-title{
        font-size: 18px;
        font-family: $montserrat;
        font-weight: 700;
        color: #fff;
    }
    .ui-datepicker-header{
        .ui-datepicker-prev{
            background-image: url(img/calendar_left.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80%;
            left: 10px;
            top: 8px;
        }
        .ui-datepicker-next{
            background-image: url(img/calendar_right.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80%;
            right: 10px;
            top: 8px;
        }
        a{
            border-radius: 0;
            &:hover{
                background-color: transparent;
                border: none;
            }
        }
    }
}
.single-post-page{
    background-color: #1B263B;
    header{
        filter: drop-shadow(0px 5px 40px rgba(0, 0, 0, 0.25));
    }
    .single-post-section{
        padding: 45px;
        border-radius: 0 0 30px 30px;
        background-color: #fff;
        .container-fluid{
            max-width: 1600px;
        }
        .post-title{
            font-family: $montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 1.85rem;
            line-height: 1.2;
        }
        .single-post-date{
            font-family: $ubuntu;
            font-style: normal;
            font-weight: 300;
            font-size: 1rem;
            line-height: 23px;
            color: #09009A;
            margin-top: 15px;
        }
        .single-post-image{
            margin-top: 40px;
            img{
                width: auto;
                height: auto;
            }
            .image-title{
                font-family: $ubuntu;
                font-size: 0.9rem;
                font-weight: 300;
                color: #7E7E7E;
                margin-top: 15px;
            }
        }
        .single-post-content{
            border-bottom: 2px solid #778DA9;
            padding-bottom: 35px;
            p{
                font-weight: 300;
                font-family: $ubuntu;
                font-size: 1.05rem;
                line-height: 1.5;
            }
        }
        .post-tags{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            padding: 15px 0;
            .tags-title{
                font-family: $montserrat;
                font-size: 18px;
                color: #000;
                font-weight: 600;
                margin-right: 30px;
                margin-bottom: 10px;
            }
        }
    }
}
.post-tags, .popular-tags{
    .tags-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .post-tag{
        margin-bottom: 10px;
        height: 40px;
        border: 1px solid #09009A;
        white-space: nowrap;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 0 8px;
        font-family: $montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        color: #09009A;
        margin-right: 30px;
        background-color: #fff;
        transition: all 0.5s;
        &:hover{
            background-color: $blue-light;
            color: #fff;
            text-decoration: none;
        }
    }
}
.popular-tags{
    .tags-title{
        font-family: $montserrat;
        font-size: 24px;
        color: #fff;
        font-weight: 300;
        margin-right: 30px;
        margin-bottom: 10px;
        border-bottom: 1px solid #FF6E4E;
    }
    .post-tag{
        background-color: transparent;
        color: #fff;
        border-color: #fff;
        margin-right: 10px;
    }
}
.posts-nav,
.popular-posts{
    display: flex;
    justify-content: space-between;
    .post-nav-item{
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        .item{
            width: 100%;
            display: flex;
        }
        .small-post-thumb{
            max-width: 40%;
            min-width: 40%;
            height: 100px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            a{
                display: block;
                height: 100%;
            }
        }
        .small-post-info{
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .small-post-date{
                margin-bottom: 0;
                color: #7E7E7E;
                font-weight: bold;
                font-size: 14px;
            }
            h6{
                font-family: $ubuntu;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 1.3;
                color: #000000;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
.nav-arrows{
    font-family: $montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    display: flex;
    align-items: center;
    color: $blue-light;
    margin-bottom: 25px;
    img{
        width: 16px;
        height: 16px;
    }
    &.left{
        justify-content: flex-start;
        img{
            margin-right: 30px;
        }
    }
    &.right{
        justify-content: flex-end;
        img{
            margin-left: 30px;
        }
    }
}
.post-latest-title{
    font-family: $montserrat;
    font-size: 24px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.latest-posts-inner{
    .article-list.popular{
        .article-preview-item{
            background-color: #fff;
            h4, p{
                color: #000!important;
                a{
                    color: #000!important;
                }
            }
        }
    }
}
.fb-group-link{
    i{
        font-size: 40px;
        margin-left: 25px;
        color: #4267B2;
    }
}
@media screen and (max-width: 1500px) {
    .article-list .article-preview-item .article-info .article-title{
        font-size: 15px;
    }
    .article-list .article-preview-item .article-info .article-desc{
        font-size: 12px;
        margin-bottom: 5px;
    }
}
.newsletter-title{
    font-size: 13px;
}
form.newsletter{
    display: flex;
    ::placeholder{
        color: #B5B5B5;
        font-size: 16px;
    }
    input{
        padding: 10px;
        flex: 1;
        height: 50px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #82B3E2;
    }
    button{
        width: 230px;
        height: 50px;
        background-color: #82B3E2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $montserrat;
        font-size: 22px;
        border-radius: 0 5px 5px 0;
        border: none;
        color: #fff;
    }
}
.popular-posts{
    .post-nav-item{
        width: 100%;
    }
}
.float-share-links{
    filter: drop-shadow(0px 5px 40px rgba(0, 0, 0, 0.25));
    height: 70px;
    background-color:#fff;
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 100%;
}
.share-block{
    .share-title{
        font-size: 16px;
        margin-bottom: 0;
        margin-right: 15px;
        line-height: 2;
    }
}
.fb-group-link{
    a{
        background-color: #09009A;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-radius: 5px;
        padding: 0 15px;
        span{
            padding-right: 15px;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
        }
    }
}
.contact-us-link{
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid #09009A;
        border-radius: 5px;
        padding: 0 15px;
        height: 40px;
        animation: attention 1s .65s ease-out infinite;
        .small{
            font-size: 12px;
            color: #1B263B;
            line-height: 1;
        }
        .large{
            font-size: 16px;
            color: #09009A;
            line-height: 1;
        }
    }
}

@keyframes attention {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
@media (max-width: 1110px){
    .article-list{
        .article-preview-item{
            height: 215px;
        }
    }
    .article-link{
        font-size: 11px;
    }
}

@media (max-width: 900px){
    .hero-article .article-image{
        height: 200px;
    }
    .hero-article .article-info .article-title{
        font-size: 14px;
    }
    .article-list .article-preview-item{
        flex-direction: column;
        height: auto;
    }
    .article-list .article-preview-item .article-thumb{
        height: 150px;
        width: 100%;
    }
    .article-list .article-preview-item .article-info{
        width: 100%;
    }
    .category-section{
        .article-preview-item{
            .article-desc{
                display: none;
            }
        }
    }
}
.hamburger{
    display: none;
}
.group-post-link-mobile{
    display: none;
}
.newsletter{
    position: relative;
}
.form-msg{
    position: absolute;
    bottom: -24px;
    left: 0;
    font-size: 12px;
    &.error{
        display: inline;
        color: red;
    }
    &.success{
        display: inline;
        color: green;
    }
}
.page-link{
    color: #09009A;
}
.page-item.active .page-link{
    background-color: #09009A;
    border-color: #09009A;
}
@media (max-width: 800px){
    html{
        font-size: 15px;
    }
    .logo-wrap{
        max-width: calc(100% - 80px);
    }
    .hamburger{
        display: flex;
        position: absolute;
        left: -70px;
        top: 6px;
        transition: all .5s;
    }
    .main-menu-col{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .95);
        z-index: 9999;
        transform: translateX(100%);
        transition: all .5s;
        ul{
            pointer-events: none;
            flex-direction: column;
            li{
                margin: 20px 0;
                background: transparent;
                text-align: center;
                a{
                    font-size: 40px;
                }
            }
        }
        &.menu-is-active{
            transform: translateX(0);
            .hamburger{
                left: 0;
            }
            ul{
                pointer-events: all;
            }
        }
    }
    .bottom-menu{
        ul{
            flex-wrap: wrap;
            padding: 0;
            li{
                border: none;
                margin: 10px;
            }
        }
    }
    .hero-article{
        margin-bottom: 15px;
    }
    .top-articles{
        padding: 15px 0;
    }
    .hero-article .article-info .article-title{
        margin-top: 5px;
    }
    .category-section .section-title a:before, .category-section .section-title span:before{
        display: none;
    }
    .category-section{
        margin-top: 15px;
        padding: 0;
    }
    .category-section .section-title a, .category-section .section-title span{
        height: auto;
        padding: 5px;
    }
    .article-list.popular .article-preview-item{
        width: 100%;
        margin-bottom: 15px;
    }
    .category-section .section-title a, .category-section .section-title span{
        width: 100%;
    }
    .article-list .article-preview-item{
        width: 100%;
    }
    form.newsletter{
        flex-direction: column;
        input, button{
            width: 100%;
            border-radius: 5px;
        }
        button{
            height: 40px;
            margin-top: 4px;
        }
    }
    .newsletter-title{
        margin-top: 10px;
    }
    footer .category-list{
        margin: 50px 0;
    }
    .copyright p{
        text-align: center;
    }
    .single-post-page{
        .single-post-section{
            padding: 15px;
        }
    }
    .single-post-page{
        padding-top: 70px;
        padding-bottom: 70px;
        header{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 9999;
        }
    }
    .share-block{
        .share-title{
            display: none;
        }
    }
    .contact-us-link{
        a{
            animation: none;
        }
    }
    .post-tags .post-tag, .popular-tags .post-tag{
        font-size: 10px;
        margin-bottom: 5px;
        margin-right: 3px;
        padding: 0 6px;
        height: 28px;
    }
    .single-post-page .single-post-section .post-tags{
        align-items: flex-start;
    }
    .posts-nav, .popular-posts{
        flex-direction: column;
    }
    .posts-nav .post-nav-item, .popular-posts .post-nav-item{
        width: 100%;
        margin-bottom: 20px;
    }
    .tags-title{
        display: none;
    }
    .nav-arrows.right, .nav-arrows.left{
        justify-content: center;
    }
    footer .footer-title{
        font-size: 28px;
        margin-top: 15px;
    }
    .group-post-link-mobile{
        display: block;
        margin-bottom: 15px;
    }
}
